<Files ~ "^.(htaccess|htpasswd)$">
deny from all
</Files>
DirectoryIndex index.html index.php
ErrorDocument 400 /404.html
order deny,allow

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*?).html /hm/$1.php [L]
</IfModule>
