
.text-uppercase {
    text-transform: uppercase;
}

.text-primary {
    color: #9fce4e
}

a.text-primary:hover {
    color: #86b633
}


.separator-inherit-theme {
    position: relative;
}

.separator-inherit-theme {
    position: relative
}

.separator-inherit-theme:before {
    content: '';
    width: 9px;
    height: 9px;
    border: 1px solid #e1e1e1;
    background: #fff;
    position: absolute;
    bottom: -5px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%) rotate(45deg);
    transform: -moz-translateX(-50%) rotate(45deg);
    transform: -webkit-translateX(-50%) rotate(45deg);
    transform: -ms-translateX(-50%) rotate(45deg);
    transform: -o-translateX(-50%) rotate(45deg)
}





/* === 3.27. BLOCK ICON === */
.block-icon-box-left-icon {
  margin-bottom: 35px;
}
.block-icon-box-left-icon .icon {
  text-align: center;
  display: inline-block;
  border: 2px solid transparent;
  width: 60px;
  height: 60px;
  box-sizing: content-box;
  position: relative;
  margin-top: -8px;
  margin-bottom: 35px;
}
.block-icon-box-left-icon.circle .icon {
  background-color: #9fce4e;
  border-radius: 30px;
}
.block-icon-box-left-icon .icon i {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: #9fce4e;
}
.block-icon-box-left-icon.circle .icon i {
  color: #fff;
}
.block-icon-box-left-icon .icon i.fz-4 {
  font-size: 40px;
}
.block-icon-box-left-icon.style-2 .icon {
  margin-bottom: 0px;
}
.block-icon-box-left-icon .icon.icon-image {
  margin-right: 10px;
  margin-bottom: 0;
}
.block-icon-box-left-icon .heading {
  margin: 0;
  text-transform: uppercase;
}
.block-icon-box-left-icon .content {
  margin-top: 15px;
  margin-bottom: 50px;
}


/* === 3.28. PROGRESSBARS === */
.block-progressbar {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  z-index: 10;
}
.block-progressbar .progress-title {
  margin-bottom: 10px;
  line-height: 26px;
  font-weight: 400;
  font-size: 13px;
  margin-top: 0;
}
.block-progressbar.white .progress-title {
  color:#FFFFFF;
}
.block-progressbar .progressbar {
  transition: all 0.7s ease-in-out;
  background-color: #00B863;
  width: 0;
}
.block-progressbar .progressbar-back-text,
.block-progressbar .progressbar-front-text {
  display: none;
}
.block-progressbar .progressbar {
  background-color: rgb(159, 206, 78);
  height: 5px;
  width: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: width 1s linear;
  -moz-transition: width 1s linear;
  -webkit-transition: width 1s linear;
  -o-transition: width 1s linear;
}
.block-progressbar .progressbar.striped {
  background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(.25,rgba(255,255,255,.15)),color-stop(.25,transparent),color-stop(.5,transparent),color-stop(.5,rgba(255,255,255,.15)),color-stop(.75,rgba(255,255,255,.15)),color-stop(.75,transparent),to(transparent));
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -moz-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}
.block-progressbar .progressbar.animated {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.block-progressbar .progressbar:before {
  content: '';
  bottom: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  z-index: -1;
}
.style-tooltip .block-progressbar {
  margin-bottom: 30px;
  position: relative;
}
.style-tooltip .block-progressbar .progressbar {
  position: absolute;
  bottom: -5px;
}
.style-tooltip .block-progressbar .progressbar-back-text {
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: -5px;
  font-size: 0;
  background-color: #f7f7f7;
  z-index: -1;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.style-tooltip .block-progressbar .progressbar-front-text {
  position: absolute;
  display: block;
  right: -25px;
  bottom: 5px;
  line-height: 1;
  font-family: "Poppins",Helvetica,Arial,sans-serif;
  height: 23px;
  text-align: center;
  max-width: 50px;
  padding: 5px;
  border-radius: 3px;
  color: #000;
  font-size: 13px;
}
.style-tooltip .block-progressbar.white .progressbar-front-text {
  color: #fff;
}

/* === 3.7. CAROUSELFRED === */

@media (max-width:899px) {
    .animate-box.animated {
        visibility: visible
    }
}

.caroufredsel {
    position: relative;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    filter: alpha(opacity=0)
}

.caroufredsel .caroufredsel_wrapper {
    margin: 0;
}

.caroufredsel.product-slider .caroufredsel-wrap {
    overflow: visible
}

.caroufredsel.product-slider.nav-position-right .product-slider-title {
    padding-right: 100px
}

.caroufredsel.product-slider.nav-position-right .product-slider-title h3 {
    padding-right: 30px;
    margin: 0;
    line-height: 40px;
    text-transform: uppercase
}

@media (max-width:991px) {
    .caroufredsel.product-slider.nav-position-right .product-slider-title h3 {
        padding: 0
    }
    .caroufredsel.product-slider.nav-position-right .product-slider-title h3:after {
        display: none
    }
}

.caroufredsel.product-slider.nav-position-right .product-slider-title~.caroufredsel-wrap .caroufredsel-next {
    right: 0;
    top: -70px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    margin: 0
}

.caroufredsel.product-slider.nav-position-right .product-slider-title~.caroufredsel-wrap .caroufredsel-prev {
    left: auto;
    right: 50px;
    top: -70px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    margin: 0
}

.caroufredsel.product-slider.nav-position-center .product-slider-title h3 {
    font-size: 1.7142857142857142em;
    text-align: center;
    padding: 0.6em 1em;
    margin: 0 0 2em;
    position: relative;
    text-transform: uppercase;
    display: table;
    margin: 0 auto;
    margin-bottom: 40px
}

@media (max-width:480px) {
    .caroufredsel.product-slider.nav-position-center .product-slider-title h3 {
        font-size: 1.2857142857142858em
    }
}

.caroufredsel.product-slider.nav-position-center .product-slider-title h3:after {
    content: '';
    width: 130px;
    height: 1px;
    background: #e1e1e1;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.caroufredsel.product-slider.nav-position-center .product-slider-title h3:before {
    content: '';
    width: 9px;
    height: 9px;
    border: 1px solid #e1e1e1;
    background: #fff;
    position: absolute;
    bottom: -4px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%) rotate(45deg);
    transform: -moz-translateX(-50%) rotate(45deg);
    transform: -webkit-translateX(-50%) rotate(45deg);
    transform: -ms-translateX(-50%) rotate(45deg);
    transform: -o-translateX(-50%) rotate(45deg)
}

@media (max-width:480px) {
    .caroufredsel.product-slider.nav-position-center .product-slider-title h3 {
        font-size: 1.1428571428571428em
    }
}

.caroufredsel.product-slider.nav-position-center .product-slider-title~.caroufredsel-wrap .caroufredsel-next:after,
.caroufredsel.product-slider.nav-position-center .product-slider-title~.caroufredsel-wrap .caroufredsel-prev:after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #999;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.caroufredsel.product-slider.nav-position-center .product-slider-title~.caroufredsel-wrap .caroufredsel-next:hover:after,
.caroufredsel.product-slider.nav-position-center .product-slider-title~.caroufredsel-wrap .caroufredsel-prev:hover:after {
    background: #9fce4e
}

.caroufredsel.product-slider.nav-position-center .product-slider-title~.caroufredsel-wrap .caroufredsel-next {
    right: 10px;
    top: -65px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.caroufredsel.product-slider.nav-position-center .product-slider-title~.caroufredsel-wrap .caroufredsel-prev {
    left: 10px;
    top: -65px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.caroufredsel .caroufredsel-wrap {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0 -10px
}

.caroufredsel-item-no-padding.caroufredsel .caroufredsel-wrap {
    margin: 0
}

.caroufredsel .caroufredsel-wrap .caroufredsel-items {
    margin: 0;
    padding: 0;
    list-style: none
}

.caroufredsel .caroufredsel-wrap .caroufredsel-items>li {
    float: left
}

.caroufredsel .caroufredsel-wrap .caroufredsel-item {
    float: left;
    padding: 0;
    list-style: none;
    margin: 0 10px
}

.caroufredsel-item-no-padding.caroufredsel .caroufredsel-wrap .caroufredsel-item {
    margin: 0
}

.client .caroufredsel .caroufredsel-wrap .caroufredsel-item {
    text-align: center
}

.caroufredsel .caroufredsel-wrap .caroufredsel-item>a>img,
.caroufredsel .caroufredsel-wrap .caroufredsel-item>img {
    width: 100%
}

.client .caroufredsel .caroufredsel-wrap .caroufredsel-item>a>img,
.client .caroufredsel .caroufredsel-wrap .caroufredsel-item>img {
    width: auto
}

.caroufredsel .caroufredsel-wrap .caroufredsel-next,
.caroufredsel .caroufredsel-wrap .caroufredsel-prev {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    width: 40px;
    height: 40px;
    line-height: 44px;
    font-size: 20px;
    background-color: #9fce4e;
    border: 1px solid #9fce4e;
    text-align: center;
    z-index: 100;
    color: #fff
}

.caroufredsel .caroufredsel-wrap .caroufredsel-next:hover,
.caroufredsel .caroufredsel-wrap .caroufredsel-prev:hover {
    background-color: #fff;
    color: #9fce4e
}

.caroufredsel .caroufredsel-wrap .caroufredsel-next.disabled,
.caroufredsel .caroufredsel-wrap .caroufredsel-prev.disabled {
    display: none;
}

.caroufredsel .caroufredsel-wrap .caroufredsel-prev {
    left: -45px
}

.caroufredsel .caroufredsel-wrap .caroufredsel-prev:before {
    content: "\44";
    position: relative;
    display: inline-block;
    font-family: 'ElegantIcons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none
}

.caroufredsel .caroufredsel-wrap .caroufredsel-next {
    right: -45px
}

.caroufredsel .caroufredsel-wrap .caroufredsel-next:before {
    content: "\45";
    position: relative;
    display: inline-block;
    font-family: 'ElegantIcons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none
}

.caroufredsel .caroufredsel-wrap:hover>.caroufredsel-prev {
    left: 20px
}

.caroufredsel .caroufredsel-wrap:hover>.caroufredsel-next {
    right: 20px
}

.caroufredsel .caroufredsel-pagination {
    text-align: center;
    margin-top: 15px
}

.testimonial.style-1 .caroufredsel .caroufredsel-pagination {
    margin-top: 50px
}

.testimonial.style-4 .caroufredsel .caroufredsel-pagination a,
.testimonial.style-3 .caroufredsel .caroufredsel-pagination a {
    height: 16px;
    width: 16px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.3)
}

.testimonial.style-4 .caroufredsel .caroufredsel-pagination a:hover,
.testimonial.style-3 .caroufredsel .caroufredsel-pagination a:hover,
.testimonial.style-4 .caroufredsel .caroufredsel-pagination a.selected,
.testimonial.style-3 .caroufredsel .caroufredsel-pagination a.selected {
    -webkit-box-shadow: 0 0 0 1px #9fce4e;
    box-shadow: 0 0 0 1px #9fce4e;
    background: #9fce4e
}

.caroufredsel .caroufredsel-pagination a {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: inline-block;
    height: 10px;
    margin: 4px;
    text-indent: -9999em;
    width: 10px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.caroufredsel .caroufredsel-pagination a:hover,
.caroufredsel .caroufredsel-pagination a.selected {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0)
}
/* === 3.8. TESTIMONIALS === */

.testimonial.style-1 .caroufredsel .caroufredsel-pagination a:hover,
.testimonial.style-1 .caroufredsel .caroufredsel-pagination a.selected {
    border-color: #fff;
    background: #fff
}

.testimonial.style-1 .caroufredsel .caroufredsel-pagination a {
    border: 1px solid rgba(255, 255, 255, 0.5)
}

@media (min-width:1200px) {
    .testimonial .testimonial-wrap {
        padding: 0 60px
    }
    .style-4.testimonial .testimonial-wrap {
        padding: 0
    }
}

.style-1.testimonial .testimonial-wrap {
    text-align: center
}

.style-3.testimonial .testimonial-wrap {
    text-align: center
}

.testimonial .testimonial-text {
    padding: 10px 30px 45px;
    position: relative;
    font-style: italic
}

.testimonial .testimonial-text>span {
    font-size: 60px;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    font-style: normal
}

.testimonial.bg-transparent .testimonial-text>span:last-child,
.testimonial.bg-transparent .testimonial-text>span:first-child,
.testimonial.bg-transparent .caroufredsel .caroufredsel-wrap .caroufredsel-next,
.testimonial.bg-transparent .caroufredsel .caroufredsel-wrap .caroufredsel-prev,
.testimonial.bg-transparent .testimonial-company,
.testimonial.bg-transparent .testimonial-author,
.testimonial.bg-transparent .testimonial-text {
    color: #fff
}

.testimonial.bg-transparent .testimonial-text {
    background: rgba(0, 0, 0, 0)
}

.testimonial.bg-transparent .testimonial-text:before {
    display: none
}

.testimonial .testimonial-avatar {
    position: relative;
    float: left;
    margin-right: 20px
}

.style-1.testimonial .testimonial-avatar {
    float: none;
    margin: 0 0 10px
}

.style-3.testimonial .testimonial-avatar {
    float: none;
    margin: 0 0 15px
}

.style-4.testimonial .testimonial-avatar {
    display: inline-block;
    float: none;
    vertical-align: middle
}

.testimonial .testimonial-avatar img {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 100%;
    border-radius: 100%
}

.testimonial .testimonial-author {
    text-transform: uppercase;
    display: block
}

.style-1.testimonial .testimonial-author {
    color: #9fce4e
}

.style-3.testimonial .testimonial-author {
    padding: 0 15px;
    font-weight: 600;
    display: inline-block;
    line-height: 1.2;
    width: 48%;
    text-align: right
}

.style-4.testimonial .testimonial-author {
    padding: 0 15px;
    font-weight: 600;
    display: inline-block;
    line-height: 1.2
}

.testimonial .testimonial-company {
    display: block;
    font-style: italic
}

.style-3.testimonial .testimonial-company {
    padding: 0 14px;
    display: inline-block;
    border-left: 1px solid #e1e1e1;
    line-height: 1.2;
    font-style: inherit;
    width: 48%;
    text-align: left
}

.style-4.testimonial .testimonial-company {
    padding: 0 14px;
    display: inline-block;
    border-left: 1px solid #e1e1e1;
    line-height: 1.2;
    font-style: inherit
}

.testimonial .caroufredsel .caroufredsel-wrap .caroufredsel-next {
    font-size: 50px;
    right: 50%;
    margin-right: -124px;
    border: none;
    color: #444;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: none
}

.testimonial .caroufredsel .caroufredsel-wrap .caroufredsel-prev {
    font-size: 50px;
    left: 50%;
    margin-left: -124px;
    border: none;
    color: #444;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: none
}

.testimonial .caroufredsel .caroufredsel-wrap .caroufredsel-item:hover .caroufredsel-next,
.testimonial .caroufredsel .caroufredsel-wrap .caroufredsel-item:hover .caroufredsel-prev {
    opacity: 1;
    filter: alpha(opacity=100)
}


/* === 3.9. COUNTER === */

.counter {
    margin-bottom: 15px;
    text-align: center
}

.counter.counter-icon-top .counter-icon {
    display: block;
    margin-bottom: 15px
}

.counter.counter-icon-left .counter-icon {
    margin-right: 10px;
    line-height: 1;
    display: inline-block
}

.counter .counter-icon i {
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.counter .counter-count {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1em
}

.counter .counter-unit {
    display: inline-block
}

.counter .counter-number {
    margin-top: 0;
    display: inline-block
}

.counter .counter-text {
    display: block;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 30px
}

.counter.construction {
    text-align: left
}

.counter.construction .counter-count {
    display: inline-block
}

.counter.construction .counter-count .counter-number {
    line-height: 1;
    display: inline-block;
    text-align: right
}

.counter.construction .counter-text {
    margin-left: -30px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 30px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0
}

@media (max-width:320px) {
    .counter.construction .counter-text {
        display: block;
        margin-left: 0
    }
}
.counter-block {
  padding-top: 90px;
  padding-bottom: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.counter-block-3 {
  padding-top: 35px;
  padding-bottom: 30px;
}
.counter-1 {
  background-image: url(../images/counter/counter_480x350_1.jpg);
}
.counter-2 {
  background-image: url(../images/counter/counter_480x350_2.jpg);
}
.counter-3 {
  background-image: url(../images/counter/counter_480x350_3.jpg);
}
.counter-4 {
  background-image: url(../images/counter/counter_480x350_4.jpg);
}
.counter-icon {
  font-size:24px;
  color:#ffffff;
}
.counter-block-3 .counter-icon {
  color:#000;
}
.counter-number {
  font-size:24px;
  color:#9fce4e;
}
.counter-block-2 .counter-number {
  color:#fff;
}
.counter-block-4 .counter-number {
  font-size: 50px;
  color: #9fce4e;
  font-family: "Poppins",Helvetica,Arial,sans-serif;
}
.counter-unit {
  font-size:24px;
  color:#9fce4e;
}
.counter-block-2 .counter-unit {
  color:#fff;
}
.counter-text {
  font-size:16px;
  color:#ffffff;
}
.counter-block-3 .counter-text {
  color:#000;
}
.counter-block-4 .counter-text {
  font-size: 14px;
  color: #444;
}

/* === 3.10. COUNTDOWN TIMER === */

.countdown {
    width: 100%
}

.countdown-item {
    float: left;
    width: 25%;
    text-align: center;
    border-right: 1px solid;
    text-transform: uppercase
}

.countdown-item:last-child {
    border-right: none
}

@media (max-width:767px) {
    .countdown-item {
        border: none;
        width: 50%
    }
}

.countdown-item .countdown-item-value {
    font-size: 2.57em;
    font-weight: 600
}

.countdown-white .countdown-item {
    color: #fff
}


