<?xml version="1.0" encoding="UTF-8"?>
<module title="包车预定" name="charter_booking" multi="0" library="0" dashboard="1" icon="calendar-check-o" ranking="0" home="0" main="0" validation="0" dates="1" release="0" index="29">
	<!-- resizing
	[0] 1 single image
	[1] 1x big, 1x medium, 1x small -->
	<medias max="0" resizing="1">
		<big maxw="1920" maxh="1440"/>
		<medium maxw="600" maxh="600"/>
		<small maxw="400" maxh="400"/>
	</medias>
	<list order="id DESC">
        <filter label="状态" name="status">
            <options>
                <option value="1">等待支付</option>
                <option value="2">取消</option>
                <option value="3">拒绝支付</option>
                <option value="4">已支付</option>
                <option value="5">确认预约</option>
                <option value="6">已接单</option>
            </options>
        </filter>
		<col label="包车名" name="title"/>
		<col label="规格名" name="charter_class_name"/>
		<col label="顾客名" name="firstname"/>
		<col label="订单日期" name="add_date" type="date"/>
		<col label="预定日期" name="arrive_time" type="date"/>
		<col label="大人" name="adults"/>
		<col label="小孩" name="children"/>
		<col label="金额" name="total" type="price"/>
	</list>
	<form>
        <field multi="0" label="包车名" name="charter_id" type="select" required="1" unique="0" validation="none">
            <options table="pm_charter" fieldlabel="title" fieldvalue="id" order="title"></options>
        </field>
        <field multi="0" label="车导种类" name="charter_type" type="radio" required="1" unique="0" validation="none" >
            <options table="pm_charter_type" fieldlabel="name" fieldvalue="id" order="name"></options>
        </field>
		<field multi="0" label="车主" name="charter_owner" type="select" required="1" unique="0" validation="none" >
            <options table="pm_charter_user" fieldlabel="user_name" fieldvalue="user_id" order="user_name"></options>
        </field>
        <field multi="0" label="规格名" name="charter_class_name" type="text" required="1" unique="0" validation="none"/>
        <field multi="0" label="接送日" name="arrive_time" type="date" required="1" unique="0" validation="none"/>
        <field multi="0" label="大人" name="adults" type="text" required="1" unique="0" validation="numeric"/>
        <field multi="0" label="小孩" name="children" type="text" required="0" unique="0" validation="numeric"/>
        <field multi="0" label="单价" name="price" type="text" required="1" unique="0" validation="numeric" comment=""/>
        <field multi="0" label="总价" name="total" type="text" required="1" unique="0" validation="numeric" comment=""/>
         
        <field multi="0" label="顾客名" name="firstname" type="text" required="1" unique="0" validation="none"/>
        <field multi="0" label="手机" name="mobile" type="text" required="0" unique="0" validation="none"/>
        <field multi="0" label="国家" name="country" type="text" required="1" unique="0" validation="none"/>
        <field multi="0" label="留言" name="comments" type="textarea" editor="0" required="0" unique="0" validation="none"/>
        <field multi="0" label="状态" name="status" type="select" required="1" unique="0" validation="none">
            <options>
                <option value="1">等待支付</option>
                <option value="2">取消</option>
                <option value="3">拒绝支付</option>
                <option value="4">已支付</option>
                <option value="5">确认预约</option>
                <option value="6">已接单</option>
            </options>
        </field>
        <field multi="0" label="支付方法" name="payment_method" type="text" required="0" unique="0" validation="none"/>
        <field multi="0" label="订单编号" name="trans" type="text" required="0" unique="0" validation="none"/>
        <field multi="0" label="支付日期" name="payment_date" type="datetime" required="0" unique="0" validation="none"/>
	</form>
    <roles>
        <user type="administrator" permissions="all"/>
        <user type="manager" permissions="all"/>
        <user type="editor" permissions="no_access"/>
    </roles>
</module>