<?xml version="1.0" encoding="UTF-8"?>
<module title="价钱设定" name="rate" multi="0" library="0" dashboard="0" icon="calendar" ranking="0" home="0" main="0" validation="0" dates="0" release="0" index="16">
	<!-- resizing
	[0] 1 single image
	[1] 1x big, 1x medium, 1x small -->
	<medias max="0" resizing="1">
		<big maxw="1920" maxh="1440"/>
		<medium maxw="600" maxh="600"/>
		<small maxw="400" maxh="400"/>
	</medias>
	<list order="id_room, start_date, type">
        <filter label="Room" name="id_room">
            <options table="pm_room" fieldlabel="id - title | subtitle" fieldvalue="id" order="title"/>
        </filter>
        <filter label="Package" name="type">
            <options>
                <option value="night">Night</option>
                <option value="2-nights">2 nights</option>
                <option value="mid-week">Mid-week</option>
                <option value="week">Week</option>
                <option value="week-end">Week-end</option>
            </options>
        </filter>
		<col label="Room" name="id_room" table="pm_room" fieldvalue="title" fieldref="id"/>
		<col label="Start date" name="start_date" type="date"/>
		<col label="End date" name="end_date" type="date"/>
		<!--
		<col label="Package" name="type"/>
		<col label="Min stay" name="min_stay"/>
		-->
		<col label="Price" name="price" type="price"/>
	</list>
	<form>
	
        <field multi="0" label="房间名" name="id_room" type="select" required="1" unique="0" validation="none">
            <options table="pm_room" fieldlabel="id - title | subtitle" fieldvalue="id" order="title"></options>
        </field>
        
        <field multi="0" label="开始日" name="start_date" type="date" required="1" unique="0" validation="none"/>
        <field multi="0" label="终了日" name="end_date" type="date" required="1" unique="0" validation="none"/>
         <!--
        <field multi="0" label="入住日" name="day_start" type="select" required="0" unique="0" validation="none" comment="Optional day for check in">
            <options>
                <option value="0">-</option>
                <option value="1">星期一</option>
                <option value="2">星期二</option>
                <option value="3">星期三</option>
                <option value="4">星期四</option>
                <option value="5">星期五</option>
                <option value="6">星期六</option>
                <option value="7">星期日</option>
            </options>  
        </field>
        <field multi="0" label="退房日" name="day_end" type="select" required="0" unique="0" validation="none" comment="Optional day for check out">
            <options>
                <option value="0">-</option>
                <option value="1">星期一</option>
                <option value="2">星期二</option>
                <option value="3">星期三</option>
                <option value="4">星期四</option>
                <option value="5">星期五</option>
                <option value="6">星期六</option>
                <option value="7">星期日</option>
            </options>  
        </field>
        -->
        
         <!--
        <field multi="0" label="套餐" name="type" type="select" required="1" unique="0" validation="none">
            <options>
                <option value="night">一晚</option>
                <option value="2-nights">两晚</option>
                <option value="mid-week">Mid-week</option>
                <option value="week">一周</option>
                <option value="week-end">周末</option>
            </options>
        </field>
        -->
        
        <field multi="0" label="价格 / 每晚" name="price" type="text" required="1" unique="0" validation="numeric" comment="{currency} (incl. VAT)"/>
        
        <!--
        <field multi="0" label="Num. people" name="people" type="text" required="0" unique="0" validation="numeric" comment="Number of guests included in the price"/>
        <field multi="0" label="Price / extra child / night" name="child_price" type="text" required="0" unique="0" validation="numeric" comment="{currency} (incl. VAT)"/>
        <field multi="0" label="Price / extra adult / night" name="price_sup" type="text" required="0" unique="0" validation="numeric" comment="{currency} (incl. VAT)"/>
        <field multi="0" label="Fixed supplement / stay" name="fixed_sup" type="text" required="0" unique="0" validation="numeric" comment="{currency} (incl. VAT)"/>
        <field multi="0" label="Discount rate" name="discount" type="text" required="0" unique="0" validation="numeric" comment="% - Applied to the amount except the fixed supplement"/>
        <field multi="0" label="VAT rate" name="vat_rate" type="text" required="1" unique="0" validation="numeric" comment="%"/>
        <field multi="0" label="Minimum stay" name="min_stay" type="text" required="0" unique="0" validation="numeric" comment="Number of nights"/>
	    -->
	</form>
    <roles>
        <user type="administrator" permissions="all"/>
        <user type="manager" permissions="all"/>
        <user type="editor" permissions="no_access"/>
        <user type="hotel" permissions="add,edit,upload"/>
    </roles>
</module>
