
/*-------- 2.2 Grid page  --------*/
#filters_col{
	background-color:#fff;
	padding:20px 20px 20px 20px;
	 border: 1px solid #ededed;
	 -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:25px;
}
#filters_col label{
	color:#555;
	font-weight:normal;
	font-size:12px;
}
a#filters_col_bt {
	display:block;
	color:#333;
	position:relative;
	font-size:16px;
}
a#filters_col_bt:before{
	font-family: "ElegantIcons";
  	content: "\66";
	font-size:26px;
	position:absolute;
	right:0;
	top:0;
	line-height:1;
}
.filter_type h6{
	border-top: 1px solid #ddd;
	margin:15px 0;
	padding:15px 0 0 0;
	font-size:13px;
}
.filter_type ul{
	list-style:none;
	padding:0;
	margin:0 0 15px 0;
}
.filter_type ul li{
	margin-bottom:10px;
}
.filter_type ul li:last-child{
	margin-bottom:0;
}
#filter_tools ul{
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	text-align:center;
}
#filter_tools ul li {
	display:inline-block;
	width:32%;
	margin-bottom:20px;
}
#filter_tools ul li a{
	-webkit-border-radius: 5px;
	display:block;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#fff;
	border: 1px solid #ededed;
	padding:10px;
	font-size:11px;
	width:100%;
	text-align:center;
	color:#999;
}
#filter_tools ul li a#grid_icon:before, #filter_tools ul li a#list_icon:before, #filter_tools ul li a#map_icon:before{
	display:block;
	font-size:24px;
	color:#1aa79b;
	font-family: "ElegantIcons";
}
#filter_tools ul li a#grid_icon:hover:before, #filter_tools ul li a#list_icon:hover:before, #filter_tools ul li a#map_icon:hover:before{
	color:#ed145b;
}
#filter_tools ul li a#grid_icon:before{
  	content: "\e025";
}
#filter_tools ul li a#list_icon:before{
  	content: "\64";
}
#filter_tools ul li a#map_icon:before{
  	content: "\e01d";
}
.img_wrapper{
	background-color:#000;
	margin:0;
	margin-bottom:30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
}
.img_container a:hover img {
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
	opacity:0.4;
}
.img_container img {
	-webkit-transform:scale(1);
	transform:scale(1);
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	opacity:0.8;
}
.img_container{
	position:relative;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index:0;
}
.short_info {
	position:absolute;
	left:0;
	bottom:0;
	background: url(../images/shadow_tour.png) repeat-x left bottom;
	width:100%;
	padding:25px 15px 15px 20px;
	color:#fff;
	font-size:13px;
	 -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -o-transition:      all 0.4s ease;
}
.short_info h3{
	font-size:20px;
	color:#fff;
	margin:0;
	padding:0;
}
.short_info small{
	font-weight:bold;
}
.short_info em{
	font-style:normal;
	opacity:0.8;
}
.short_info p{
	opacity:0;
	display:none;
	padding-top:10px;
	line-height:1.2;
	color: #fff;
}
.img_container a:hover .short_info{
	padding-bottom:13%;
}
.img_container a:hover .short_info p{
	display:block;
	opacity:1;
}
.score text{
	font-size:13px !important;
}
.score_wp{
	position:absolute;
	right:8px;
	bottom:10px;
	font-size:12px;
	color:#999;
	width:110px;
	text-align:right;
	height:50px;
	line-height:50px;
	padding-right:50px;
}
.score{
	width:50px;
	height:50px;
	position:absolute;
	right:0;
	top:0;
}
.wishlist{
	position:absolute;
	top:18px;
	right:18px;
	width:18px;
	height:26px;
	z-index:2;
	font-size:26px;
	display:block;
	cursor:pointer;
	color: #FFF;
	padding:0;
	line-height:1;
}
.wishlist .tooltip-item:before{
  font-family: "fontello";
  content: "\eeab";
}
.wishlist a, .directions_list button, .directions_list_map a {
	color:#fff;
}
.wishlist a:hover, .directions_list button:hover, .directions_list_map a:hover {
	color:#f26522;
}
.directions_list{
	position:absolute;
	top:18px;
	right:50px;
	width:26px;
	height:26px;
	z-index:2;
	font-size:26px;
	display:block;
	cursor:pointer;
	color: #FFF;
	line-height:1;
}
.directions_list button{
	background:none;
	padding:0;
	border:0;
	outline:none;
}
.directions_list button .tooltip-item:before{
  font-family: "ElegantIcons";
  content: "\e01c";
}
.directions_list_map{
	position:absolute;
	top:18px;
	right:50px;
	width:26px;
	height:26px;
	z-index:2;
	font-size:26px;
	display:block;
	cursor:pointer;
	color: #FFF;
	line-height:1;
}
.directions_list_map .tooltip-item:before{
	font-family: "ElegantIcons";
  content: "\e01d";
}


/*-------- 4.6 Ribbons --------*/
.ribbon {
  position: absolute;
  left:-5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon.top span {
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
}
.ribbon.top span::before {
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.ribbon.top span::after {
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}


/*-------- 4.3 Tooltips --------*/
.tooltip_styled {
	display: inline;
	position: relative;
	z-index: 999999;
}
.tooltip-item {
	cursor: pointer;
	display: inline-block;
}
.tooltip-content {
	position: absolute;
	z-index: 999999;
	width: 80px;
	left: 50%;
	margin: 0 0 12px -40px;
	bottom: 100%;
	text-align: center;
	line-height: 1.2;
	display: block;
	padding: 10px;
	text-align:center;
	font-size:12px;
	color: #fff;
	box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
	background: #333;
	opacity: 0;
	cursor: default;
	pointer-events: none;
	font-weight: 600;
}
.tooltip-effect-1 .tooltip-content {
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.tooltip-effect-2 .tooltip-content {
	-webkit-transform-origin: 50% calc(100% + 10px);
	transform-origin: 50% calc(100% + 10px);
	-webkit-transform: perspective(1000px) rotate3d(1,0,0,45deg);
	transform: perspective(1000px) rotate3d(1,0,0,45deg);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}
.tooltip-effect-3 .tooltip-content {
	-webkit-transform: translate3d(0,10px,0) rotate3d(1,1,0,25deg);
	transform: translate3d(0,10px,0) rotate3d(1,1,0,25deg);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.tooltip-effect-4 .tooltip-content {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: scale3d(0.7,0.3,1);
	transform: scale3d(0.7,0.3,1);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}
.tooltip_styled:hover .tooltip-content {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
	transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}
.tooltip_styled.tooltip-effect-2:hover .tooltip-content {
	-webkit-transform: perspective(1000px) rotate3d(1,0,0,0deg);
	transform: perspective(1000px) rotate3d(1,0,0,0deg);
}
.tooltip-content::after {
	content: '';
	top: 100%;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #333;
	border-width: 10px;
	margin-left: -10px;
}


.page-title {
  font-size: 75px;
  margin: 30px 0;
}


.user-profile-sidebar {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 30px;
  padding: 20px 0;
  background: #4d4d4d;
  color: #fff;
  margin-bottom: 30px;
}
.user-profile-sidebar .user-profile-avatar {
  padding: 0 20px;
  margin-bottom: 20px;
}
.user-profile-sidebar .user-profile-avatar img {
  max-width: 120px;
  margin-bottom: 15px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.user-profile-sidebar .user-profile-avatar h5 {
  color: #fff;
  margin-bottom: 0;
  font-size: 16px;
}
.user-profile-sidebar .user-profile-avatar p {
  font-size: 10px;
}
.user-profile-sidebar .user-profile-nav > li {
  border-bottom: 1px solid #404040;
}
.user-profile-sidebar .user-profile-nav > li:first-child {
  border-top: 1px solid #404040;
}
.user-profile-sidebar .user-profile-nav > li.active > a {
  background: #ed8323;
  color: #fff;
  cursor: default;
}
.user-profile-sidebar .user-profile-nav > li.active > a:hover {
  background: #ed8323;
  color: #fff;
}
.user-profile-sidebar .user-profile-nav > li.active > a:hover > i {
  color: #fff;
}
.user-profile-sidebar .user-profile-nav > li > a {
  padding: 10px 20px;
  color: #d9d9d9;
  display: block;
  font-size: 13px;
}
.user-profile-sidebar .user-profile-nav > li > a:hover {
  color: #fff;
  background: #404040;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.user-profile-sidebar .user-profile-nav > li > a:hover > i {
  color: #ed8323;
}
.user-profile-sidebar .user-profile-nav > li > a > i {
  margin-right: 7px;
  display: inline-block;
  width: 20px;
  text-align: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.user-profile-statictics > li {
  margin-right: 20px;
  text-align: center;
  padding: 20px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /*width: 153px;*/
}
.user-profile-statictics > li:last-child {
  margin-right: 0;
}
.user-profile-statictics > li .user-profile-statictics-icon {
  font-size: 70px;
  display: inline-block;
  margin-bottom: 10px;
  color: #8c8c8c;
}
.user-profile-statictics > li h5 {
  font-size: 30px;
  margin-bottom: 0;
  line-height: 1em;
  margin-bottom: 3px;
  color: #ed8323;
}
.user-profile-statictics > li p {
  margin-bottom: 0;
  line-height: 1em;
  font-size: 13px;
}


.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*-------- 4.4 Breadcrumbs --------*/
#position {
	background-color:#fff;
	padding:10px 0;
	font-size:13px;
	border-bottom:1px solid #ededed;
}
#position ul li:first-child{
	padding-left:20px;
}
#position ul li:first-child:before{
	content:"\eaf4";
	font-style: normal;
  font-weight: normal;
  font-family: "fontello";
  position:absolute;
  left:0;
  top:1px;
  color:#888;
}
#position ul{
	margin:0;
	padding:0;
	color:#888;
}
#position ul li a{
	color:#111;
	opacity:0.7;
}
#position ul li a:hover{
	opacity:1;
}
#position ul li{
	display:inline-block;
	padding-right:8px;
	margin-right:3px;
	position:relative;
}
#position ul li:after{
	content:"\e9ee";
	  font-style: normal;
  font-weight: normal;
  font-family: "fontello";
  position:absolute;
  right:0;
  top:1px;
}
#position ul li:last-child:after{
	content:'';
}

#page{
	background-color: #FFF;
}

.mb30 {
    margin-bottom: 30px !important;
}


.row.row-wrap > [class^="col-"],
.row.row-col-gap > [class^="col-"] {
  margin-bottom: 30px;
}
.row.row-full {
  margin-left: 0;
  margin-right: 0;
}
.row.row-no-gutter,
.row[data-gutter="0"] {
  margin: 0 !important;
}
.row.row-no-gutter > [class^="col-"],
.row[data-gutter="0"] > [class^="col-"] {
  padding: 0 !important;
}
.row[data-gutter="10"] {
  margin-left: -5px;
  margin-right: -5px;
}
.row[data-gutter="10"] > [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.row[data-gutter="60"] {
  margin-left: -30px;
  margin-right: -30px;
}
.row[data-gutter="60"] > [class^="col-"] {
  padding-left: 30px;
  padding-right: 30px;
}
.row[data-gutter="120"] {
  margin-left: -60px;
  margin-right: -60px;
}
.row[data-gutter="120"] > [class^="col-"] {
  padding-left: 60px;
  padding-right: 60px;
}



.hover-img {
  z-index: 1;
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.hover-img .curved > img {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.hover-img >img {
  -webkit-transition: 4s;
  -moz-transition: 4s;
  -o-transition: 4s;
  -ms-transition: 4s;
  transition: 4s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hover-img .hover-icon-group,
.hover-img .hover-icon-group-top-right,
.hover-img .hover-icon-group-top-left,
.hover-img .hover-icon-group-bottom-left,
.hover-img .hover-icon-group-bottom-right,
.hover-img .hover-icon-group-center-top,
.hover-img .hover-icon-group-center-bottom {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.hover-img .hover-icon-group > li,
.hover-img .hover-icon-group-top-right > li,
.hover-img .hover-icon-group-top-left > li,
.hover-img .hover-icon-group-bottom-left > li,
.hover-img .hover-icon-group-bottom-right > li,
.hover-img .hover-icon-group-center-top > li,
.hover-img .hover-icon-group-center-bottom > li {
  display: inline-block;
  margin: 0 5px;
}
.hover-img .hover-icon-group-top-left,
.hover-img .hover-icon-group-bottom-left {
  text-align: left;
}
.hover-img .hover-icon-group-top-right,
.hover-img .hover-icon-group-bottom-right {
  text-align: right;
}
.hover-img .hover-icon,
.hover-img .hover-icon-group,
.hover-img [class^="hover-icon-"],
.hover-img [class*=" hover-icon-"] {
  display: block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.hover-img [class^="hover-icon-"],
.hover-img [class*=" hover-icon-"] {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
.hover-img >.hover-inner {
  position: absolute;
  width: 101%;
  height: 100%;
  padding: 15px;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.hover-img >.hover-inner.hover-inner-sm {
  padding: 10px;
}
.hover-img .hover-inner {
  width: 101%;
  height: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ed8323;
  color: #fff !important;
}
.hover-img .hover-inner h1,
.hover-img .hover-inner h2,
.hover-img .hover-inner h3,
.hover-img .hover-inner h4,
.hover-img .hover-inner h5 {
  color: #fff;
}
.hover-img .hover-inner-bg-black {
  background: rgba(0,0,0,0.5) !important;
}
.hover-img .hover-inner-block {
  height: auto;
}
.hover-img .hover-inner-bottom {
  top: auto;
  bottom: 0;
}
.hover-img .hover-title,
.hover-img [class^="hover-title-"],
.hover-img [class*=" hover-title-"] {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  background: rgba(237,131,35,0.75);
  color: #fff;
  width: 100%;
  padding: 0 7px;
  line-height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hover-img .hover-title-top,
.hover-img .hover-title-top-left,
.hover-img .hover-icon-top-left,
.hover-img .hover-icon-group-top-left {
  bottom: auto;
  top: 0;
}
.hover-img .hover-title-top-right,
.hover-img .hover-icon-top-right,
.hover-img .hover-icon-group-top-right {
  bottom: auto;
  top: 0;
  left: auto;
  right: 0;
}
.hover-img .hover-title-bottom-right,
.hover-img .hover-icon-bottom-right,
.hover-img .hover-icon-group-bottom-right {
  left: auto;
  right: 0;
}
.hover-img .hover-title-center,
.hover-img .hover-title-top-right,
.hover-img .hover-title-top-left,
.hover-img .hover-title-bottom-right,
.hover-img .hover-title-bottom-left,
.hover-img .hover-title-center-top,
.hover-img .hover-title-center-bottom {
  display: table;
  width: auto;
}
.hover-img .hover-title-top-right,
.hover-img .hover-title-top-left,
.hover-img .hover-title-bottom-right,
.hover-img .hover-title-bottom-left,
.hover-img .hover-icon-top-right,
.hover-img .hover-icon-top-left,
.hover-img .hover-icon-bottom-right,
.hover-img .hover-icon-bottom-left,
.hover-img .hover-icon-group-top-right,
.hover-img .hover-icon-group-top-left,
.hover-img .hover-icon-group-bottom-right,
.hover-img .hover-icon-group-bottom-left {
  margin: 15px;
}
.hover-img .hover-title-center,
.hover-img .hover-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 50%, 0);
  -moz-transform: translate3d(-50%, 50%, 0);
  -o-transform: translate3d(-50%, 50%, 0);
  -ms-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}
.hover-img .hover-icon-group {
  top: 50%;
  -webkit-transform: translate3d(0, 50%, 0);
  -moz-transform: translate3d(0, 50%, 0);
  -o-transform: translate3d(0, 50%, 0);
  -ms-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}
.hover-img .hover-title-center-top,
.hover-img .hover-title-center-bottom,
.hover-img .hover-icon-center-top,
.hover-img .hover-icon-center-bottom,
.hover-img .hover-icon-group-center-top,
.hover-img .hover-icon-group-center-bottom {
  margin: 15px 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  -o-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}
.hover-img .hover-title-center-top,
.hover-img .hover-icon-center-top,
.hover-img .hover-icon-group-center-top {
  bottom: auto;
  top: 0;
}
.hover-img .hover-icon-bottom-left,
.hover-img .hover-icon-bottom-right,
.hover-img .hover-icon-center-bottom,
.hover-img .hover-icon-group-bottom-left,
.hover-img .hover-icon-group-bottom-right,
.hover-img .hover-icon-group-center-bottom {
  bottom: 0;
}
.hover-img .hover-hold {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.hover-img .hover-hold.hover-title-center,
.hover-img .hover-hold.hover-icon {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hover-img .hover-hold.hover-title-center-top,
.hover-img .hover-hold.hover-title-center-bottom,
.hover-img .hover-hold.hover-icon-center-top,
.hover-img .hover-hold.hover-icon-center-bottom,
.hover-img .hover-hold.hover-icon-group-center-top,
.hover-img .hover-hold.hover-icon-group-center-bottom {
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.hover-img .hover-hold.hover-icon-group {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.hover-img:hover .hover-title,
.hover-img:hover [class^="hover-title-"],
.hover-img:hover [class*=" hover-title-"],
.hover-img:hover [class^="hover-icon-"],
.hover-img:hover [class*=" hover-icon-"],
.hover-img:hover .hover-icon,
.hover-img:hover .hover-inner-wrap,
.hover-img:hover > .hover-inner,
.hover-img:hover .hover-icon-group {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.hover-img:hover .hover-title-center,
.hover-img:hover .hover-icon {
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.hover-img:hover .hover-icon-group {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.hover-img:hover .hover-title-center-top,
.hover-img:hover .hover-title-center-bottom,
.hover-img:hover .hover-icon-center-bottom,
.hover-img:hover .hover-icon-center-top,
.hover-img:hover .hover-icon-group-center-top,
.hover-img:hover .hover-icon-group-center-bottom {
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.hover-img:hover >img {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.thumb:after {
  content: '';
  line-height: 0;
  display: table;
  clear: both;
}
.thumb .img-left,
.thumb .img-right {
  width: auto;
}
.thumb .img-left {
  float: left;
  margin-right: 15px;
}
.thumb .img-right {
  float: right;
  margin-left: 15px;
}
.box-icon-left + .thumb-caption,
.box-icon-right + .thumb-caption,
.thumb-header-right + .thumb-caption,
.thumb-header-left + .thumb-caption,
.img-left + .thumb-caption,
.img-right + .thumb-caption {
  display: table;
}
.thumb-header {
  margin-bottom: 15px;
}
.thumb-inner {
  padding-top: 10px;
}
.thumb-inner-border {
  border: 1px solid #e6e6e6;
  padding: 5px 7px;
}
.thumb-header-left {
  float: left;
  margin-right: 15px;
}
.thumb-header-right {
  float: right;
  margin-left: 15px;
}
.thumb-title {
  margin: 0;
  line-height: 1em;
}
h5.thumb-title {
  font-size: 18px;
  font-weight: 400;
}
.thumb-desc {
  margin-bottom: 0;
  margin-top: 6px;
  font-size: 13px;
  color: #818181;
  line-height: 1.4em;
}
.thumb-caption btn {
  margin-top: 7.5px;
}
.thumb-caption .thumb-social {
  margin-top: 7.5px;
}
.thumb-caption .thumb-meta {
  margin-top: 6px;
  font-style: italic;
  margin-bottom: 0;
}
.thumb-caption .thumb-meta [class^="fa fa-"] {
  margin-right: 5px;
}
.text-white .thumb-desc {
  color: #e6e6e6;
}
.text-white .thumb-title {
  color: #fff;
}
.thumb-progress {
  margin-top: 6px;
  margin-bottom: 0;
}

img {
    width: 100%;
}
img.origin {
  width: auto;
}
img.pp-img {
  width: 200px;
  margin-bottom: 10px;
}


.text-smaller {
  font-size: 75%;
}
.text-small {
  font-size: 12px;
  line-height: 1.5em;
}
.text-small p {
  margin-bottom: 4px;
  font-size: 11px;
  line-height: 1.4em;
}
.text-small h5 {
  font-size: 14px;
  line-height: 1em;
  margin-bottom: 4px;
}