<?xml version="1.0" encoding="UTF-8"?>
<module title="用户一览" name="user" multi="0" library="0" dashboard="0" icon="user" ranking="0" home="0" main="0" validation="1" dates="1" release="0" index="11">
	<!-- resizing
	[0] 1 single image
	[1] 1x big, 1x medium, 1x small -->
	<medias max="0" resizing="1">
		<big maxw="1920" maxh="1440"/>
		<medium maxw="600" maxh="600"/>
		<small maxw="400" maxh="400"/>
	</medias>
	<list order="id">
		<col label="姓名" name="name" type="none"/>
		<!--
		<col label="邮件" name="email" type="none"/>
		<col label="用户名" name="login" type="none"/>
		-->
		<col label="手机号码" name="mobile" type="none"/>		
		<col label="用户类型" name="type" type="none"/>
	</list>
	<form>
		<field multi="0" label="真实姓名" name="name" type="text" required="1" unique="0" validation="none"/>
		<field multi="0" label="邮件" name="email" type="text" required="1" unique="1" validation="none"/>
		<field multi="0" label="用户名" name="login" type="text" required="1" unique="1" validation="none"/>
		<field multi="0" label="密码" name="pass" type="password" required="1" unique="0" validation="none"/>
		<field multi="0" label="手机号码" name="mobile" type="text" required="1" unique="0" validation="none"/>		
		<field multi="0" label="用户类型" name="type" type="select" required="1" unique="0" validation="none">
            <options>
                <!--
                <option value="administrator">administrator</option>
                -->                
                <option value="manager">manager</option>
                <option value="editor">editor</option>
                <option value="registered">registered</option>
                <option value="hotel">hotel</option>
            </options>
        </field>

        
	</form>
    <roles>
        <user type="administrator" permissions="all"/>
        <user type="manager" permissions="all"/>
        <user type="editor" permissions="no_access"/>
    </roles>
</module>
